/* the Root of doc */
:root{
    --light: #fff;
    --dark: #333;
    --dlight: #eaeaea;
    --cfc: #007cae;
    --dgray: #e3e3e3;
}

/* Global declaration */
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* th nav bar and showcase of the upper page */
#nav .content-title{
    padding-left: 4.1em;
    color: #fff;
}

#showcase .grid {
    padding: 3em 0;
}
#showcase .content-title{
    font-weight: lighter !important;
    text-align-last: start;
}

#showcase {
    border-top:3px solid var(--cfc);
    min-height: 400px;
    background: var(--dlight);
}

/* Section 1 */
#section-1 .content-wrap{
    text-align: center;
    padding: 3em 0;
    color: var(--dlight);
}
#section-1 .content-style{
    margin-top: 2em;
}
/* Section 2 which is the error message */

/* Section 3 */


#section-3 .content-share{
    padding-top: 1em;
}

/* Section 4 */
#section-4{
    margin: 2em 0 !important;
}
#section-4 .content-wrap{
    padding: 0 .7em;
}
/* Section 5 */
#section-5{
    text-align: center;
    min-height: 200px;
}

/* Combined Sections */
#section-3 .content-wrap,
#section-4 .content-wrap{
    text-align: center;
}

#section-3, #section-5{
    background: #e3e3e3;
    padding: 3em 0 0 0;
}

/* Bootstrap 4 overrides */
.progress{
    margin-bottom: 2em;
}
.img-thumbnail{
    height: 400px;
}


/* forms style */
input[type='text'], input[type=email]{
    padding: .4em;
    border-radius: 5px;
}
.btn:hover{
    cursor: pointer;
}
a.btn{
    display: block;
    background: var(--light);
    color: var(--cfc);
    padding: .5em .5em;
    border: 1px solid #666;
    margin: 0;
    text-decoration: none;
    border-radius: 5px;
}
a.btn:hover{
    background: var(--cfc);
    color: var(--light);
}
/* input[type='text'], input[type=email]{
    padding: .4em;
    border-radius: 5px;
}
.btn, .input-btn{
    display: block;
    background: var(--light);
    color: var(--cfc);
    padding: .5em .5em;
    border: 1px solid #666;
    margin: 0;
    text-decoration: none;
    border-radius: 5px;
}
.input-btn{
    display: inline-block;
    padding-right: .7em;
    padding-left: .7em; 
}

.btn:hover, .input-btn{
    cursor: pointer;
    background: var(--light);
    color: var(--dark);
}
.input-btn:hover{
    color: var(--light);
    background: #845033;
} */



/* Main Footer */

#main-footer{
    background: var(--dlight);
    text-align: center;
    font-weight: 120px;
    font-size: 25px;
    padding: 1em 0;
}
/*------------------------------------*\
#media-queries for galaxy s5
\*------------------------------------*/

@media(max-width: 360px) {
    .img-thumbnail{
        height: auto;
    }
}