{% extends "joins_a/base.html" %}
{% load staticfiles %}
{% block body_block %}

    <!-- Header -->
    
    <header id="nav">
        <div class="grid navbar navbar-expand-lg" style="background: #007cae">
            <div class="content-wrap row">
                <h3 class="content-title ">Swift For Enterpreneurs</h3>
            </div>
        </div>
    </header>

    <!--		Section-2 join details		-->
    <section id="section-2" class="message-display">
        <div class="grid">
            <div class="content-wrap">
                 {% if messages %}
                <!--Not now but learn how to make this message to toggle and fade out on page load -->
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
                        {% endfor %}
                </ul>
                {% else %} {% endif %}
            </div>
        </div>
    </section>

    <!--		section-3 		-->
    <section id="section-3" class="">
        <div class="container">
            <div class="grid row">
                <div class="content-wrap col-md-6 order-2">
                    
                    <h1 class="content-title display-4">
                        <i class="fas fa-share-alt"></i><br>
                        Invite Friends &amp; Earn Rewards
                    </h1>
                    <p class="content-text">Lorem ipsum dolor   sit amet consectetur adipisicing elit. Id     ducimus nostrum accusamus placeat e.
                    </p>
                    <div class="card" style="background: white;">
                        <div class="card-body">
                            {{request.build_absolute_uri}}
                        </div>
                    </div>
                    <div class="content-share">
                        <p class="content-text">
                            Share
                            <br>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ref_address}}" target="_blank">
                                <i class="fab fa-facebook-square fa-4x" style="color:#3b5998"></i>
                            </a>

                            <a href="https://twitter.com/home?status=i%20must%20learn%20how%20to%20code%20as%20well%20as%20other%20{{request.build_absolute_uri}}" target="_blank">
                                <i class="fab fa-twitter-square fa-4x" style="color:#4099ff"></i>
                            </a>
                            
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ref_address}}&title=%3Ch1%3EI%20Must%20Code%3C%2Fh1%3E&summary=i%20must%20learn%20how%20to%20code%20as%20well%20as%20other%20&source={{ref_address}}" target="_blank"><i class="fab fa-linkedin fa-4x" style="color:#007bb6"></i>
                            </a>

                            <a href="http://www.reddit.com/submit?url={{request.build_absolute_uri}}&title=%3Ch1%3EI%20Must%20Code%3C%2Fh1%3E" target="_blank"><i class="fab fa-reddit-square fa-4x" style="color:#900020"></i>
                            </a>
                            

                            <a href='https://plus.google.com/share?url={{request.build_absolute_uri}}' target="_blank"><i class="fab fa-google-plus-square fa-4x" style="color:#d34836"></i>
                            </a>
                            
                        </p>
                    </div>       
                </div>

                <div class=" col-md-6 order-1">
                    <img src="{% static 'joins_a/image/r.jpg' %}" alt="phone-image" srcset="" class="inline-img img-fluid rounded">
                </div>
            </div>
        </div>
    </section>

    <!--		section-4		-->
    <section id="section-4" class="holder">
        <div class="grid">
            <div class="content-wrap">
                <h1 class=" content-title display-6">How It Works</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat corporis provident delectus?</p>
            </div>
        </div>
    </section>

    <!--		section-5		-->
    <section id="section-5" class="holder">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="content-title display-6">5 Joined</h3>
                    <div class="progress">
                        <div id="count_5" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                            aria-valuemax="100" style="width: 0%">0%
                        </div>
                    </div>
                    <div class="text-md-center">
                        <h4 class="content-title display-7">1 Month Reward</h4>
                        <i class="fas fa-chess-knight fa-4x" style="color:rgb(15, 75, 75)"></i>
                    </div>
                    <hr>
                    <h6 class="content-title">Reward include</h6>
                    <ul class="content-list">
                        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, consequuntur.</li><br>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, pariatur?</li>
                    </ul>
                    <hr>
                </div>
                <div class="col-md-4">
                    <h3 class="content-title display-6"> 25 Joined</h3>
                    <div class="progress">
                        <div id="count_25" class="progress-bar progress-bar-striped progress-bar-animated
                        bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                            aria-valuemax="100" style="width: 0%">0%</div>
                    </div>
                    <div class="text-md-center">
                        <h4 class="content-title display-7">Streaming-Only Reward</h4>
                        <i class="fas fa-chess-king fa-4x"style="color:#d34836"></i>
                    </div>
                    <hr>
                    <h6 class="content-title">Reward include</h6>
                    <ul class="content-list">
                        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, consequuntur.</li><br>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, pariatur?</li>
                    </ul>
                    <hr>
                </div>
                <div class="col-md-4">
                    <h3 class="content-title display-6">50 Joined</h3>
                    <div class="progress">
                        <div id="count_50" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                            aria-valuemax="100" style="width: 0%">0%</div>
                    </div>
                    <div class="text-md-center">
                        <h4 class="content-title display-7">Stream, Download &amp; 6 Months</h4>
                        <i class="fas fa-chess-knight fa-4x" style="color:aqua"></i>
                    </div>
                    <hr>
                    <h6 class="content title">Reward include</h6>
                    <ul class="content-list">
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, corrupti?</li>    
                    </ul>
                    <hr>
                </div>
                <div class="col-md-4">
                    <h1 class="display-6">
                        <i class="fab fa-accusoft" style="color:blueviolet"></i>
                        <br>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, officia?</p>
                </div>
                <div class="col-md-4">
                    <h1 class="display-6">
                        <i class="fab fa-accusoft" style="color:blueviolet"></i>
                        <br>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, officia?</p>
                </div>
                <div class="col-md-4">
                    <h1 class="display-6">
                        <i class="fab fa-accusoft" style="color:blueviolet"></i>
                        <br>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, officia?</p>
                </div>
                <div class="col-md-4">
                    <h1 class="display-6">
                        <i class="fab fa-accusoft" style="color:blueviolet"></i>
                        <br>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, officia?</p>
                </div>
                <div class="col-md-4">
                    <h1 class="display-6">
                        <i class="fab fa-accusoft" style="color:blueviolet"></i>
                        <br>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, officia?</p>
                </div>
                <div class="col-md-4">
                    <h1 class="display-6">
                        <i class="fab fa-accusoft" style="color:blueviolet"></i>
                        <br>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, officia?</p>
                </div>
            </div>
        </div>
    </section>


    {% comment %} <p>{{join.ip_address}}</p>
    <p>{{join.ref_address}}</p>
    <p>{{join.email_address}}</p> {% endcomment %}
    <p>{{count}}</p>
    <p>{{friends_referred}}</p>
{% endblock %}

    <!--		javascript section		-->
{% block jquery %}
    <script>
        $(document).ready(function(){
            $signUPCount = {{count}};
            function completeBlock(progressBarId) {
                $(progressBarId).css("width","100%").attr("aria-valuenow", "100").text("Completed"); 
            }

            function setNewPro(progressBarId, percentNum,   newText) {
                $(progressBarId).css("width",percentNum + "%").attr("aria-valuenow", percentNum + "100").text(newText+"%");
            }
            if ($signUPCount > 0 && $signUPCount< 5) {
                $percentageCount = Math.floor($signUPCount/5*100); setNewPro("#count_5", $percentageCount, $percentageCount, $percentageCount);
                } else if ($signUPCount >= 5 && $signUPCount<25) {
                    completeBlock("#count_5"); 
                    $percentageCount = Math.floor($signUPCount/25*100); 
                    setNewPro("#count_25", $percentageCount, $percentageCount, $percentageCount);
                } else if ($signUPCount >= 25 && $signUPCount< 50) {
                    completeBlock("#count_5"); 
                    completeBlock("#count_25"); 
                    $percentageCount = Math.floor($signUPCount/50*100); 
                    setNewPro("#count_50", $percentageCount, $percentageCount, $percentageCount);
                } else if ($signUPCount >= 50){
                    completeBlock("#count_5"); 
                    completeBlock("#count_25"); 
                    completeBlock("#count_50"); } else { }
        });
    </script>
{% endblock jquery %}