{% extends "joins_a/base.html" %}
{% load staticfiles %}
{% block styles %}
    <style>
        body{
            background: url( 'static/joins_a/image/apple.jpg') no-repeat center center fixed;
            background-size: cover;
            background-color: rgba(128, 128, 128, .4);
        }
    </style>
{% endblock styles %}

{% block body_block %}
    <!-- Main-body join_form -->
<div id="main">

    <!-- Showcase-header join_form-->
    <header id="showcase" class="holder">
        <div class="container">
            <div class="grid row">
                <div class="bg-showcase-image"></div>
                <div class="content-wrap col-md-6 align-self-center text-md-center">
                    <h1 class="content-title">Swift For Enterpreneurs</h1>
                    <h2 class="content-title">is Coming.</h2>
                    <p class="content-text">Build iOS Apps from Scratch, Together</p>
                    <a href="#section-1" class="btn">Be First >></a>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'joins_a/image/s.png' %}" alt="mobile_phone_with_swift" class="inline-img img-thumbnail">
                </div>
            </div>
        </div>
        
    </header>
    
    <!-- Section-1 of join_form-->
    <section id="section-1" class="holder">
        <div class="grid container">
            <div class="content-wrap justify-content-center">
                <i class="fab fa-accessible-icon fa-4x"></i>
                <h1 class="content-title">Unlock First</h1>
                <form class="horizontal" method="post">
                    {% csrf_token %}
                    <div class="form-group form-group-lg">
                        {% if not form.is_valid %}
                            {% for err  in form.email_address.errors  %}
                                <div class="alert alert-warning" role="alert">{{err}}how</div>
                            {% endfor %}
                        {% else %}
                        <div class="alert alert-warning" role="alert">good to go</div>
                        {% endif %}
                        <div class="container">

                            <div class="input-group justify-content-center row">
                                <input type="text", name="first_name" placeholder="Name" class="col-sm-4 col-md-4">
                                <input type="email", name="email_address" placeholder="Email" class="col-sm-4 col-md-4">
                                <span class="input-group-btn">
                                    <input type="submit" value="Join in" class="btn btn-primary btn-lg">
                                </span>
                            </div>
                        </div>

                    </div>
                </form>
                <p class="content-text content-style lead">
                    Built for Non-Technial Founders.
                    <br/> Ready for All Beginners.
                    <br/> += Web Developers.
                    <br>
                    <br> Pure Awesome.
                </p>
            </div>
        </div>
    </section>

    <!--		Section 5		-->
    <section id="section-5" class="holder">
        <div class="container">
            <div class="content-wrap row">
                <div class="col-md-3">
                    <h1 class="display-6"><i class="fab fa-accusoft" style="color:blueviolet"></i><br>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, officia?</p>
                </div>
                <div class="col-md-3">
                    <h1 class="display-6"><i class="fab fa-accusoft" style="color:blueviolet"></i><br>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, officia?</p>
                </div>
                <div class="col-md-3">
                    <h1 class="display-6"><i class="fab fa-accusoft" style="color:blueviolet"></i><br>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, officia?</p>
                </div>
                <div class="col-md-3">
                    <h1 class="display-6"><i class="fab fa-accusoft" style="color:blueviolet"></i><br>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, officia?</p>
                </div>
            </div>

            <hr>

            <div class="content-wrap row ">
                <div class="col-md-3">
                    <h1 class="display-6"><i class="fab fa-accusoft" style="color:blueviolet"></i><br>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, officia?</p>
                </div>
                <div class="col-md-3">
                    <h1 class="display-6"><i class="fab fa-accusoft" style="color:blueviolet"></i><br>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, officia?</p>
                </div>
                <div class="col-md-3">
                    <h1 class="display-6"><i class="fab fa-accusoft" style="color:blueviolet"></i><br>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, officia?</p>
                </div>
                <div class="col-md-3">
                    <h1 class="display-6"><i class="fab fa-accusoft" style="color:blueviolet"></i><br>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, officia?</p>
                </div>
            </div>

            <hr>

            <div class="content-wrap row">
                <div class="col-md-3 col-md-offset-3">
                    <h1 class="display-6"><i class="fab fa-accusoft" style="color:blueviolet"></i><br>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, officia?</p>
                </div>
                <div class="col-md-3">
                    <h1 class="display-6"><i class="fab fa-accusoft" style="color:blueviolet"></i><br>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, officia?</p>
                </div>
                <!-- <div class="col-md-3">
                    <h1 class="display-6">Hello World</h1>
                    p{lorem10}
                </div>
                <div class="col-md-3">
                    <h1 class="display-6">Hello World</h1>
                    p{lorem10}
                </div> -->

            </div>
        </div>
    </section>
</div>
{% endblock %}